* {
    margin: 0;
    padding: 0;
    font-family: arial;
}

li {
    list-style: none;
}

.month,
.day,
.calHeader,
.navBar {
    width: 602px;
    margin: 0 auto;
}

.calHeader {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.calHeader span {
    font-size: 22px;
}

.calHeader span,
.calHeader a {
    display: inline-block;
    text-decoration: none;
}

.calHeader a.prev {
    position: absolute;
    left: 0;
}

.calHeader a.next {
    position: absolute;
    right: 0;
}

.calHeader span {
    margin: 0 auto;
}

.month li a {
    width: 80px;
    height: 80px;
    display: block;
    text-decoration: none;
    color: #6a6a6a;
}

.month li a:hover p {
    text-decoration: underline;
    font-weight: bold;
}

.month li {
    float: left;
    margin: 2px;
    border: 1px solid #ccc;
    position: relative;
    cursor: pointer;
}

.month li p {
    position: absolute;
    top: 2px;
    right: 2px;
}

.day {
    border: 0 solid #ccc;
    border-width: 1px 1px 0 1px;
}

.day li {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ccc;
}

.day li label {
    width: 50px;
    height: 100%;
    text-align: right;
    display: block;
    border-right: 1px solid #ccc;
    padding: 2px 5px 0 0;
    font-size: 12px;
}

.navBar {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 20px;
}

.navBar a {
    text-decoration: none;
    display: inline-block;
    width: 70px;
    outline: 1px solid #6a6a6a;
    text-align: center;
    color: #6a6a6a;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 5px;
}

.navBar a:hover {
    color: #fff;
    background-color: #000;
}

.navBar a:active {
    color: #000;
    background-color: #ccc;
}

.clear {
    clear: both;
}