<div ng-controller="NavBarController" class="navBar">
    <div class="calNav">
        <a href="#/Month/{{getThisMonth()}}/Day/{{getToday()}}/Year/{{getThisYear()}}">Today</a>
        <a class="prev" href="#/{{getPrevUrl()}}" ng-style="{ display: showPrev() }">&lt;</a>
        <a class="next" href="#/{{getNextUrl()}}">&gt;</a>
    </div>
    <div class="calTitle">
        {{getTitle()}}
    </div>
    <div class="calType">
        <a href="#/Month/{{getMonth()}}/Day/{{getDay()}}/Year/{{getYear()}}">Day</a>
        <a href="#/Month/{{getMonth()}}/WeekOf/{{getDay()}}/Year/{{getYear()}}">Week</a>
        <a href="#/Month/{{getMonth()}}/ForDay/{{getDay()}}/Year/{{getYear()}}">Month</a>
    </div>
    <div class="clear"></div>
</div>