<div ng-controller="NavBarController" class="navBar">
    <div class="calNav">
        <a class="prev" href="#/{{getPrevUrl()}}" ng-style="{ display: showPrev() }">&lt;</a>
        <a class="next" href="#/{{getNextUrl()}}">&gt;</a>
    </div>
    <div class="calTitle">
        {{getTitle()}}
    </div>
    <div class="calType">
        <a href="#/Month/{{getMonth()}}/Day/{{getDay()}}/Year/{{getYear()}}">Today</a>
        <a href="#/Month/{{getMonth()}}/Week/{{getWeek()}}">Week</a>
        <a href="#/{{getMonth()}}">Month</a>
    </div>
    <div class="clear"></div>
</div>