<div class="calHeader">
    <a class="prev" href="#/{{prevMonth}}" ng-style="{ display: showPrev() }">&lt;</a>
    <span>
        {{getMonth()}} {{getYear()}}
    </span>
    <a class="next" href="#/{{nextMonth}}">&gt;</a>
</div>
<table class="week">
    <tr class="header">
        <th class="times"></th>
        <th>Sun {{getDate()}}</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
    </tr>
    <tr ng-repeat="timeSlot in timeSlots">
        <td class="times">{{timeSlot.display}}{{timeSlot.meridiem}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>